<head>
    <link rel="stylesheet" href="../Css/home.css">
</head>
<div id="log">
    <br>
    <form name="myForm" id="up" novalidate>
        <center>
            <h1>
                <u>Quiz Rules</u>
            </h1>
        </center>
        <hr>
        <br>
        <ul>
            <li>Topic of quiz in Angularjs</li>
            <br>
            <li>Total question - 10</li>
            <br>
            <li>Each Question carry one marks</li>
            <br>
            <li> No Negative Marking</li>
            <br>
            <li>The participants shall not be allowed to use mobile or other electronic instruments.</li>
        </ul>
        <br>
        <br>
        <hr>
        <h3>All The Best for the Quiz !.......
            <h3>
    </form>
</div>
</body>